@font-face {
    font-family: 'digital';
    src: local('digital'), url(./fonts/digital.ttf);
}
@font-face {
    font-family: 'avenir';
    src: local('avenir'), url(./fonts/avenir.ttf);
}

.timerDisplay {
    background: rgba(241, 228, 178, 0.5);
    border: 5px solid #00833E;
    padding: 10px 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
}

.timerText {
    color: #222;
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.timerDigits {
    font-family: 'digital', monospace;
    font-size: 30px;
}