@font-face {
    font-family: 'digital';
    src: local('digital'), url(./fonts/digital.ttf);
}
@font-face {
    font-family: 'avenir';
    src: local('avenir'), url(./fonts/avenir.ttf);
}

.timerDisplay {
    background: rgba(241, 228, 178, 0.4);
    border: 5px solid #00833E;
    text-align:center;
    padding: 15px 20px 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.timerText {
    color: #222;
    font-family: 'avenir', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.timerNumbers {
    font-family: 'digital', monospace;
    font-size: 50px;
    line-height: 1.5;
}